{% extends "layout.html" %}
{% block content %}
    <div id="meet">
      <h2>talk screen will be here</h2>
    </div>
    // Jitsi API用のスクリプトを読み込む
    <script src="https://nb-jitsu.hcdev-awspri1.imhds.net/external_api.js"></script>

    <button type="button" class="btn btn-secondary" onclick="collectSurvey();">Close</button>

    <script>
        const domain = 'nb-jitsu.hcdev-awspri1.imhds.net'; // Jitsi用に使用しているドメイン名
        const options = {
            roomName: "{{chatroomName}}",  // チャットルーム名=conversation_id
            width: 700,
            height: 180,
            parentNode: document.querySelector('#meet'), // ビデオチャットを表示する要素のID
            configOverwrite: {},
            interfaceConfigOverwrite: {}
        };
        const api = new JitsiMeetExternalAPI(domain, options);
        api.executeCommand('displayName', '{{fullname}}'); // ニックネーム（表示名）を指定する
        api.executeCommand('subject', 'NBC ChotChat'); // チャットルームの件名を指定する
        api.executeCommand('toggleAudio'); // 音声のオン / オフ切り替える

        async function collectSurvey(){
            token = sessionStorage.getItem("TOKEN");    //セッションに保存
            $("#meet").empty();
            h = '<form name="surveyform">'
                + '  <div class="form-group row">'
                + '    <label for="question1" class="col-sm-2 col-form-label">質問1</label>'
                + '    <div class="col-sm-10">'
                + '      <input type="text" class="form-control" id="question1" placeholder="回答を入力してください">'
                + '    </div>'
                + '  </div>'
                + '  <div class="form-group row">'
                + '    <label for="question2" class="col-sm-2 col-form-label">質問2</label>'
                + '    <div class="col-sm-10">'
                + '      <input type="text" class="form-control" id="question2" placeholder="回答を入力してください">'
                + '    </div>'
                + '  </div>  '
                + '  <div class="col-auto">'
                + '    <button type="button" class="btn btn-primary" id="submitbtn"  onClick="submitSurvey()">Submit</button>'
                + '  </div>'
                + '</form>'
            $("#meet").append(h);

        }

        async function submitSurvey(){
            var answer1 = surveyform.elements.question1.value;
            var answer2 = surveyform.elements.question2.value;
            var comment = "question1=" + answer1 + "&question2=" + answer2;
            var fetch_url = 'http://' + location.host + '/users/SurveysCreate?access_token=';
            data = {
                "respondent_id": {{userid}},
                "conversation_code": "{{chatroomName}}",
                "talktime_length": 0,
                "comment": comment,
                "is_deleted": false,
                "regist_timestamp": "",
                "regist_user_id": 0,
                "update_timestamp": "",
                "update_user_id": 0
            }
            return await fetch(fetch_url + token,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'accept': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if( response.status === 200 ){
                    windows.close();    //正常終了、Close
                } else if (response.status === 401 ){
                    alert("surveyCreate error occured:401");
                    return response.json();
                } else {
                    alert("surveyCreate error occured:other");
                    throw new Error(response.json());
                }
            })
            .catch(err => {
                console.log(err);
                alert("surveyCreate error catch");
                return err;
            })
        }
    </script>
{% endblock %}
