<!DOCTYPE html>
<html lang="ja">
<head>
<!-- jQuery --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css"/>
<!-- jQuery UI -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>FastAPI Sample Application</title>
</head>

<body>
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
<!-- kokokara -->
      <div class="row row-cols-1 row-cols-md-3 g-4" id="h-all">test</div>
<!-- kokomade -->
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
<br>
<hr>
<script>
  $("#button").on("click", function(){
  $("#h-all").empty();
});
</script>

<!-- モーダルウインドウの切り替えボタンの設定 -->
<!-- button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  押すと表示されます。
</button -->

<footer>
    <div align="center">
        <p>FastAPI test</p>
    </div>
</footer>
<script type="text/javascript" src="/static/js/js_auth"></script>
</body>
<!-- button type="button" class="btn btn-outline-primary" onClick="getConversationLists()">convlist get</button> -->

<!-- 追加するjs関数 -->
<script>
  var proposal_user = 0; // 申し込み元ユーザ
  var onpolling = 0; // ポーリング可能状態=0
  async function getConversationLists(data){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var fetch_url = 'http://' + location.host + '/users/ConversationListsSelect?access_token=';
    if (onpolling !=0 ){
      return;
    };
    onpolling = 1;
    data = {
      "conversation_code": "",
      "user_id": 0,
      "to_user_id": 2,
      "start_timestamp": "",
      "scheduled_end_timestamp": "",
      "reservation_talking_category": "",
      "is_deleted": true,
      "regist_timestamp": "",
      "regist_user_id": "",
      "update_timestamp": "",
      "update_user_id": ""
    }
    return await fetch(fetch_url + token,
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'accept': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if( response.status === 200 ){
            return response.json();
        } else if (response.status === 401 ){
            return response.json();
        } else {
          throw new Error(response.json());
        }
    })
    .then(function(json){
      $("#h-all").empty();
            // for(var i = 0; i < json.length; i++){
              for(var i = 0; i < 1; i++){
              // var h = '<div class="col" id="h-100">'
                proposal_user = json[i].user_id
                 h = '<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">'
                      + '  <div class="modal-dialog">'
                      + '    <div class="modal-content">'
                      + '      <div class="modal-header">'
                      + '        <h5 class="modal-title" id="exampleModalLabel">会話申し込みがありました</h5>'
                      + '        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>'
                      + '      </div>'
                      + '      <div class="modal-body">'
                      + proposal_user + 'さんから会話申し込みがありました'
                      + '      </div>'
                      + '        <p class="card-text">'
                      + '開始時刻:' + json[i].start_timestamp
                      + '        </p>'
                      + '        <p class="card-text">'
                      + '状態:' + json[i].reservation_talking_category
                      + '        </p>'
                      + '        <small class="text-muted">' + json[i].scheduled_end_timestamp + '</small>'
                      + '      <div class="modal-footer">'
                      + '        <button type="button" class="btn btn-outline-primary" id="' + json[i].conversation_code + '" value="' + json[i].update_timestamp + '" onClick="ConversationListsUpdate(this.id,this.value)">受け入れる</button> '
                      + '        <button type="button" class="btn btn-secondary" data-dismiss="modal">ごめん</button>'
                      + '      </div>'
                      + '    </div>'
                      + '  </div>'
                      + '</div>'
              $("#h-all").append(h);
              $('#exampleModal').modal()
            }
    })
    .catch(err => {
        console.log(err);
        return err;
    })
}

// モーダルで会話申し込みに対し受け入れを押した後に実行
 async function ConversationListsUpdate(conversation_code,update_timestamp){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var fetch_url = 'http://' + location.host + '/users/ConversationListsUpdate?access_token=';
    data = {
      "conversation_code": conversation_code,
      "user_id": 0,
      "to_user_id": 0,
      "start_timestamp": "",
      "scheduled_end_timestamp": "",
      "reservation_talking_category": "accept",
      "is_deleted": true,
      "regist_timestamp": "",
      "regist_user_id": "",
      "update_timestamp": update_timestamp,
      "update_user_id": ""
  }
    return await fetch(fetch_url + token,
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'accept': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if( response.status === 200 ){
            return response.json();
        } else if (response.status === 401 ){
            return response.json();
        } else {
          throw new Error(response.json());
        }
    })
    .then(function(json){
      $("#h-all").empty();
            // for(var i = 0; i < json.length; i++){
            for(var i = 0; i < 1; i++){
              // var h = '<div class="col" id="h-100">'
                var h = '<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">'
                      + '  <div class="modal-dialog">'
                      + '    <div class="modal-content">'
                      + '      <div class="modal-header">'
                      + '        <h5 class="modal-title" id="exampleModalLabel">会話申し込み完了</h5>'
                      + '        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>'
                      + '      </div>'
                      + '      <div class="modal-body">'
                      + proposal_user + 'さんからの会話を受け付けました'
                      + '      </div>'
                      + '      <div class="modal-footer">'
                      + '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
                      + '      </div>'
                      + '    </div>'
                      + '  </div>'
                      + '</div>'
              $("#h-all").append(h);
              $('#exampleModal').modal()
            }
    })
    .catch(err => {
        console.log(err);
        return err;
    })
}

 // ポーリング処理本体、10秒ごとにポーリングしgetConversationLists実行
 async function ConversationPolling(){
    const intervalMs = 10000;
    // インターバルだけ待ってgetConversationListsをselectするPromiseを作成するヘルパメソッド
    const sleep = (milliSeconds) => new Promise(resolve => {
      setTimeout(() => resolve(getConversationLists()), milliSeconds);
    });
  
    const wait = async () => {
      while (true) {
        const talkInSleep = await sleep(intervalMs);
        console.log(talkInSleep);
      }
    };
  
  wait();
 };

 // 画面起動後にポーリング処理実行開始
 // window.onload = ConversationPolling();
 window.onload = getConversationLists();

</script>
</html>