{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<body class="bg-info p-2 text-dark bg-opacity-25">
  <header class="bg-secondary text-white fs-5">
    <div>
      <span><a href="javascript:OnLinkClick_toppage();">CHOTCHAT</a></span>
      <span class="float-end">
        <span id="userName">{{ user['username_sei'] }} {{ user['username_mei'] }}</span>
        <span class="fs-6">さん</span>
        <a href="javascript:OnLinkClick_profile();" class="btn btn-primary">
          <img id="matchedUserImg" src="../uploads/sample.png" height="30" width="30" class="rounded-circle"/>
        </a>
      </span>
    </div>
  </header>

  <div class="row mb-1 mx-4">
    <label class="col-sm-4 col-form-label fs-5 text-light fw-bold">さがす</label>
  </div>

  <form class="row bg-white text-center mx-4 mb-3">
    <div class="col-md-4">
      <label for="searchFreeWord" class="form-label">フリーワードでさがす</label>
      <input type="text" class="form-control" id="inputFreeWord">
    </div>
    <div class="col-md-4">
      <label for="searchTag" class="form-label">趣味・資格タグからさがす（Comming Soon...）</label>
      <select id="searchTag" class="form-select" disabled>
        <option selected id="choiceTag">選択...</option>
        <option>スポーツ</option>
        <option>音楽</option>
        <option>ゲーム</option>
        <option>・・・</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="searchMatchingLevel" class="form-label">マッチングレベルを設定する（Comming Soon...）</label>
      <input type="text" class="form-control" id="inputCity" disabled/>
    </div>
    <div class="row mb-4 mx-auto">
      <button type="submit" class="btn btn-info col-sm-12 text-white" id="btnSearch">検索</button>
    </div>
  </form>

  <div class="row mb-1 mx-4">
    <label class="col-sm-4 col-form-label fs-5 text-light fw-bold" id="match-result">マッチング結果</label>
  </div>

  <form class="bg-white mx-4">
    <div class="row" style="background-color:whitesmoke">
      <div class="col-md-2 bg-white m-2">
        <div style="position: relative;">
          <img id="matchedUserImg" src="./img/sample.png" height="50" width="50" class="rounded-circle"/>
          <div style="display: flex;justify-content: center;align-items: center;cursor: pointer;position: absolute;top: 70%;left:15%;">
            <img id="matchedUserStatus" src="./img/status_online.png" height="20" width="20" class="rounded-circle"/>
          </div>
          <span class="fs-4" id="matchedUserName">伊勢　花子</span>
          <span>さん</span>
        </div>
        <div>
          <span id="hobbyLicenseTag">サッカー バスケ お酒 海外旅行 フェス ブルーノマーズ ザウィークエンド</span>
        </div>
        <div>
          <span style="font-size:x-small" class="align-top">出身</span>
          <span id="comeFrom" class="fs-4">東京都港区</span>
        </div>
        <div>
          <span style="font-size:x-small" class="align-top">IMS歴</span>
          <span id="IMSYear"class="fs-4">12</span>
          <span>年</span>
        </div>
        <div>
          <span style="font-size:x-small" class="align-top">その他</span>
          <span id="freeComment" class="fs-4">ここにコメント自由コメントフリーコメント</span>
        </div>
        <button type="button" id="015" value="伊勢　花子" class="btn btn-primary" onClick="ShowRequestModal(this.id,this.value)">会話する</button>
      </div>
      <!-- リクエスト用のモーダル -->
      <div class="row row-cols-1 row-cols-md-3 g-4" id="requestModal-all"></div>
      <!-- リクエスト受付用のモーダル -->
      <div class="row row-cols-1 row-cols-md-3 g-4" id="requestedModal-all"></div>
      <!-- 会話用のモーダル -->
      <div class="row row-cols-1 row-cols-md-3 g-4" id="talkingModal-all"></div>
    </div>
  </form>
</body>

<!-- <script src="https://jitsi_domain/external_api.js"> -->

<script>
  var proposal_user = 0; // 申し込み元ユーザ
  var onpolling = 1; // 停止状態=0 申し込み受け中ポーリング=1 申し込み中ポーリング（受けない）=2 会話中（申し込まない受けない）=3
  var jitsi_domain = ""; // jitsiサーバのドメイン
  var user_id = {{ user['user_id'] }}; // 共通で使う自分自身のid

  function OnLinkClick_profile(){
    var next_url1 = 'http://' + location.host + '/pages/profile';
    access_token = sessionStorage.getItem("TOKEN");    //セッションに保存
    //post(next_url1 + "?access_token=" + access_token,"");
    post(next_url1 + "?access_token=" + access_token,"");
  }

  // 会話するボタン押下後のモーダル表示。話す時間を選択し、申し込みボタンが押せる
  async function ShowRequestModal(to_user_id,to_user_name){
    conversationtime=1
    onpolling = 3; // 会話申し込みを始めたときから申し込むまではポーリングは停止する
    h = '<div class="modal fade" id="requestModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">'
        + '  <div class="modal-dialog">'
        + '    <div class="modal-content">'
        + '      <div class="modal-header">'
        + '        <h5 class="modal-title" id="requestModalLabel">会話を申し込みます</h5>'
        // + '        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'
        + '      </div>'
        + '      <div class="modal-body">'
        + to_user_name + 'さんへ会話を申し込みます'
        + '      </div>'
        + '      <div class="form-group">'
        + '        <label for="talkingtimelabel">会話する時間:</label>'
        + '        <select id="talkingtime" class="form-control">'
        + '          <option>3</option>'
        + '          <option>5</option>'
        + '          <option>10</option>'
        + '        </select>'
        + '      </div>'
        + '      <div class="modal-footer">'
        + '        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">やめる</button>'
        + '        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" id="' + to_user_id + '" value="' + to_user_name +'" onClick="proposeConversation(this.id,this.value)">申し込む</button> '
        + '      </div>'
        + '    </div>'
        + '  </div>'
        + '</div>'
    $("#requestModal-all").empty();
    $("#requestModal-all").append(h);
    var myModal = new bootstrap.Modal(document.getElementById('requestModal'), backdrop=true);
    myModal.show();
  }

  // 申し込みボタンを押した後の処理。サーバ側で会話リストデータを作成する
  async function proposeConversation(to_user_id,to_user_name)
  {
    // 申し込む　を連打すると、１つめモーダルが閉じきる前に次が開いてしまうバグ対応スリープ
    const _sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
    await _sleep(500);

    var val = document.getElementById("talkingtime").value;
    ConversationListsCreate(to_user_id,to_user_name,val);
  }

  // 申し込みボタンを押した後の処理。サーバ側会話リスト作成処理。申し込み中モーダルを表示し、待機する
  async function ConversationListsCreate(to_user_id,to_user_name,conversationtime){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var fetch_url = 'http://' + location.host + '/users/ConversationListsCreate?access_token=';
    start_dateStr = "2021-01-01 00:00:00";
    end_dateStr = "2021-01-01 00:" + conversationtime.padStart(2,'0') + ":00"; // 入力した分数を足す
    
    data = {
      "conversation_code": "0000000000000000000", // 今から申し込むのでオール0
      "user_id": {{ user['user_id'] }},
      "to_user_id": Number(to_user_id),
      "start_timestamp": start_dateStr,
      "scheduled_end_timestamp": end_dateStr,
      "reservation_talking_category": "propose",
      "is_deleted": false,
      "regist_timestamp": "2021-01-01 00:00:00", // サーバ側でセットするので適当
      "regist_user_id": 0, // サーバ側でセットするので適当
      "update_timestamp": "2021-01-01 00:00:00", // サーバ側でセットするので適当
      "update_user_id": 0 // サーバ側でセットするので適当
    }
    return await fetch(fetch_url + token,
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'accept': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if( response.status === 200 ){
            return response.json();
        } else if (response.status === 401 ){
            return response.json();
        } else {
          throw new Error(response.json());
        }
    })
    .then(function(json){
      $("#requestModal-all").empty();
                // proposed_user = json.to_user_name
                proposed_username = to_user_name
                h = '<div class="modal fade" id="requestModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">'
                      + '  <div class="modal-dialog">'
                      + '    <div class="modal-content">'
                      + '      <div class="modal-header">'
                      + '        <h5 class="modal-title" id="requestModalLabel">会話を申し込んでいます</h5>'
                      + '        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'
                      + '      </div>'
                      + '      <div class="modal-body">'
                      + proposed_username + 'さんに申し込みをしています'
                      + '      </div>'
                      + '        <p class="card-text">'
                      + '開始時刻:' + json.start_timestamp
                      + '        </p>'
                      + '        <p class="card-text">'
                      + '状態:' + json.reservation_talking_category
                      + '        </p>'
                      + '        <p class="card-text">'
                      + '終了時刻:' + json.scheduled_end_timestamp
                      + '        </p>'
                      + '      <div class="modal-footer">'
                      + '        <button type="button" id="' + json.conversation_code + '" class="btn btn-secondary" data-bs-dismiss="modal" value ="' + json.update_timestamp + ',cancel" onclick="ConversationListsUpdate(this.id ,this.value)">キャンセル</button>'
                      // + '  test      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >キャンセル</button>'
                      + '      </div>'
                      + '    </div>'
                      + '  </div>'
                      + '</div>'
      $("#requestModal-all").empty();
      $("#requestModal-all").append(h);
      var myModal = new bootstrap.Modal(document.getElementById('requestModal'), backdrop=true);
      myModal.show();
      // $('#requestModal').modal()
      onpolling = 2; // 正式申し込みしたので、申し込みpollingを始める
      RequestPolling(json.conversation_code,proposed_username); // 申し込んだ後、先方から承諾がくるか定期的にチェックする。
    })
    .catch(err => {
        console.log(err);
        return err;
    })
  }

    // 申し込み後、相手から承諾が来たかポーリングする。10秒ごとにgetConversationLists実行
  async function RequestPolling(conversation_code,proposed_username){
    const intervalMs = 10000;
    // インターバルだけ待ってgetConversationListsをselectするPromiseを作成するヘルパメソッド
    const poll = (milliSeconds) => new Promise(resolve => {
      setTimeout(() => resolve(getRequestConversationList(conversation_code,proposed_username)), milliSeconds);
    });

    const wait = async () => {
      while (true) {
        await poll(intervalMs);
      }
    };

    wait();
  };

  // こちらから申し込む場合に、申し込みに対して相手から返事が来るか待っている場合の検索処理（冗長な可能性あり）
  async function getRequestConversationList(conversation_code,proposed_username){
      token = sessionStorage.getItem("TOKEN");    //セッションに保存
      var fetch_url = 'http://' + location.host + '/users/ConversationListsSelect?access_token=';
      if (onpolling !== 2 ){ // 本当は呼び出し側に入れたかったが断念、申し込み中状態でなければ終了
        return;
      };
    data = {
        "conversation_code": conversation_code,
        "user_id": 0,
        "to_user_id": 0,
        "start_timestamp": "",
        "scheduled_end_timestamp": "",
        "reservation_talking_category": "",
        "is_deleted": false,
        "regist_timestamp": "",
        "regist_user_id": "",
        "update_timestamp": "",
        "update_user_id": ""
      }
      return await fetch(fetch_url + token,
      {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'accept': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if( response.status === 200 ){
            return response.json();
          } else if (response.status === 401 ){
            onpolling = 1;
            return response.json();
          } else {
            onpolling = 1;
            throw new Error(response.json());
          }
      })
      .then(function(json){
        if (json.reservation_talking_category === "accepted"){
          $("#requestModal-all").empty();
          // proposal_user = json.user_id
            h = '<div class="modal fade" id="requestModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">'
                + '  <div class="modal-dialog">'
                + '    <div class="modal-content">'
                + '      <div class="modal-header">'
                + '        <h5 class="modal-title" id="requestModalLabel">申し込みが受け付けられました</h5>'
                + '        <button type="button" class="btn-close" data-bs-dismiss="modal" disabled aria-label="Close"></button>'
                + '      </div>'
                + '      <div class="modal-body">'
                + proposed_username + 'より申し込みが受け付けられました'
                + '      </div>'
                + '        <small class="text-muted">' + json.scheduled_end_timestamp + '</small>'
                + '      <div class="modal-footer">'
                + '        <button type="button" class="btn btn-outline-primary" id="' + json.conversation_code + '" value="' + json.update_timestamp + '" onClick="StartTalking(this.id,this.value)">トークを開始する</button> '
                + '      </div>'
                + '    </div>'
                + '  </div>'
                + '</div>'
          $("#requestModal-all").append(h);
          var myModal = new bootstrap.Modal(document.getElementById('requestModal'), backdrop=true);
          myModal.show();
          // $('#requestModal').modal()
          onpolling=3; // トーク開始待ち状態は3
        }
      })
      .catch(err => {
          console.log(err);
          onpolling=1;
          return err;
      })
  }

  // 平常時、他から申し込みが来たかポーリングする。10秒ごとにgetConversationLists実行
  async function RequestedPolling(){
      const intervalMs = 10000;
      // インターバルだけ待ってgetConversationListsをselectするPromiseを作成するヘルパメソッド
      const poll = (milliSeconds) => new Promise(resolve => {
        setTimeout(() => resolve(getRequestedConversationList(user_id)), milliSeconds);
      });
    
      const wait = async () => {
          while (true) {
            await poll(intervalMs);
          }
      };
    
    wait();
  };

  // 通常状態で他からの会話申し込みを受けているかチェック
  // 複数同時に申し込みを受ける場合の処理が未実装
  async function getRequestedConversationList(){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var fetch_url = 'http://' + location.host + '/users/ConversationListsSelect?access_token=';
    if (onpolling !== 1){ // 本当は呼び出し側に入れたかったが断念
      return;
    };

    data = {
      "conversation_code": "",
      "user_id": 0, // 誰からくるかを指定することはない。指定なしの時は0
      "to_user_id": user_id, // 自分が宛先かどうかを問い合わせるので、to_user_idが重要
      "start_timestamp": "",
      "scheduled_end_timestamp": "",
      "reservation_talking_category": "",
      "is_deleted": false,
      "regist_timestamp": "",
      "regist_user_id": "",
      "update_timestamp": "",
      "update_user_id": ""
    }
    return await fetch(fetch_url + token,
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'accept': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if( response.status === 200 ){
            return response.json();
        } else if (response.status === 401 ){
            return response.json();
        } else {
          throw new Error(response.json());
        }
    })
    .then(function(json){
      $("#requestedModal-all").empty();
      // for(var i = 0; i < json.length; i++){
      if(json.length > 0){
        // var h = '<div class="col" id="h-100">'
        proposal_user = json[i].user_id
        h = '<div class="modal fade" id="requestedModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestedModalLabel" aria-hidden="true">'
            + '  <div class="modal-dialog">'
            + '    <div class="modal-content">'
            + '      <div class="modal-header">'
            + '        <h5 class="modal-title" id="requestedModalLabel">会話申し込みがありました</h5>'
            + '        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'
            + '      </div>'
            + '      <div class="modal-body">'
            + proposal_user + 'さんから会話申し込みがありました'
            + '      </div>'
            + '        <p class="card-text">'
            + '開始時刻:' + json[i].start_timestamp
            + '        </p>'
            + '        <p class="card-text">'
            + '状態:' + json[i].reservation_talking_category
            + '        </p>'
            + '        <small class="text-muted">' + json[i].scheduled_end_timestamp + '</small>'
            + '      <div class="modal-footer">'
            + '        <button type="button" class="btn btn-outline-primary" id="' + json[i].conversation_code + '" value="' + json[i].update_timestamp + ',accept" onClick="ConversationListsUpdate(this.id,this.value)">受け入れる</button> '
            + '        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="' + json[i].conversation_code + '" value="' + json[i].update_timestamp + ',cancel" onClick="ConversationListsUpdate(this.id,this.value)">ごめん</button>'
            + '      </div>'
            + '    </div>'
            + '  </div>'
            + '</div>'
        $("#requestedModal-all").append(h);
        // $('#requestedModal').modal()
        var myModal = new bootstrap.Modal(document.getElementById('requestedModal'), backdrop=true);
        myModal.show();
      }
    })
    .catch(err => {
        console.log(err);
        return err;
    })
  }

  // (1)申し込みを受ける側の際、受け入れを押した後に実行 (2)申し込みを受ける側の際、ごめんを押した後に実行 (3)こちらから申し込んだが、やっぱりキャンセルする場合に実行
  async function ConversationListsUpdate(conversation_code,value){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var splitstring = value.split(',');
    update_timestamp = splitstring[0]
    category = splitstring[1]
    var fetch_url = 'http://' + location.host + '/users/ConversationListsUpdate?access_token=';
    data = {
      "conversation_code": conversation_code,
      "user_id": 0,
      "to_user_id": 0,
      "start_timestamp": "",
      "scheduled_end_timestamp": "",
      "reservation_talking_category": category,
      "is_deleted": false,
      "regist_timestamp": "",
      "regist_user_id": "",
      "update_timestamp": update_timestamp,
      "update_user_id": ""
    }
      return await fetch(fetch_url + token,
      {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'accept': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if( response.status === 200 ){
              return response.json();
          } else if (response.status === 401 ){
              return response.json();
          } else {
            throw new Error(response.json());
          }
      })
      .then(function(json){
          // (1)の場合 これから会話を始める宣言
          if( category === "accept"){
            $("#requestedModal-all").empty();
            onpolling = 3 // 申し込まないし受けない
            // for(var i = 0; i < json.length; i++){
            for(var i = 0; i < 1; i++){
              // var h = '<div class="col" id="h-100">'
                var h = '<div class="modal fade" id="requestedModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestedModalLabel" aria-hidden="true">'
                      + '  <div class="modal-dialog">'
                      + '    <div class="modal-content">'
                      + '      <div class="modal-header">'
                      + '        <h5 class="modal-title" id="requestedModalLabel">会話申し込み完了</h5>'
                      + '        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'
                      + '      </div>'
                      + '      <div class="modal-body">'
                      + proposal_user + 'さんからの会話を受け付けました'
                      + '      </div>'
                      + '      <div class="modal-footer">'
                      + '        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>'
                      + '      </div>'
                      + '    </div>'
                      + '  </div>'
                      + '</div>'
              $("#requestedModal-all").append(h);
              // $('#requestedModal').modal();
              var myModal = new bootstrap.Modal(document.getElementById('requestedModal'), backdrop=true);
              myModal.show();
            }
          // (2)(3)の場合
          } else {
          // 特に何も表示しない
            onpolling=1;
            return;
          }
      })
      .catch(err => {
          console.log(err);
          return err;
      })
  }

  // トーク開始
  async function StartTalking(conversation_code,update_timestamp){
    $("#talkingModal-all").empty();
    var h = '<div class="modal fade" id="requestedModal" data-backdrop="static" tabindex="-1" aria-labelledby="requestedModalLabel" aria-hidden="true">'
          + '  <div class="modal-dialog">'
          + '    <div class="modal-content">'
          + '      <div class="modal-header">'
          + '        <h5 class="modal-title" id="requestedModalLabel">会話申し込み完了</h5>'
          + '        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'
          + '      </div>'
          + '      <div class="modal-body">'
          + '      <div id="meet">会話</div>'
          + '      </div>'
          + '      <div class="modal-footer">'
          + '        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="' + conversation_code + '" value="' + update_timestamp + ',cancel" onClick="finishConversation(this.id,this.value)">終了</button>'
          + '      </div>'
          + '    </div>'
          + '  </div>'
          + '</div>'
              $("#talkingModal-all").append(h);
              // $('#talkingModal').modal();
              var myModal = new bootstrap.Modal(document.getElementById('talkingModal'), backdrop=true);
              myModal.show();
  }

  async function finishConversation(conversation_code,update_timestamp){
    token = sessionStorage.getItem("TOKEN");    //セッションに保存
    var fetch_url = 'http://' + location.host + '/users/ConversationListsUpdate?access_token=';
    data = {
        "conversation_code": conversation_code,
        "user_id": 0,
        "to_user_id": 0,
        "start_timestamp": "",
        "scheduled_end_timestamp": "",
        "reservation_talking_category": "finished",
        "is_deleted": false,
        "regist_timestamp": "",
        "regist_user_id": "",
        "update_timestamp": "",
        "update_user_id": ""
      }
      return await fetch(fetch_url + token,
      {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'accept': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if( response.status === 200 ){
            return response.json();
          } else if (response.status === 401 ){
            onpolling = 1;
            return response.json();
          } else {
            onpolling = 1;
            throw new Error(response.json());
          }
      })
      .then(
        // ここにアンケート画面表示を入れる
        onpolling=1 // 通常状態に戻る
      )
      .catch(err => {
          console.log(err);
          onpolling=1;
          return err;
      })
  }

  // 画面起動後にポーリング処理実行開始
  window.onload = RequestedPolling(); // 他からの会話申し込みを受けているかポーリング

  // テスト用
  // window.onload = getRequestedConversationList({{ user['user_id'] }}); // 他からの会話申し込みを受けているか１回切りチェックdebug用

  //dropdown用function
  $(function(){
      $('.dropdown-menu .dropdown-item').click(function(){
          var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
          visibleItem.text($(this).attr('value'));
      });
  });


  async function call_jisti(jiti_domain){
    const domain = "jitsi_domain"; // Jitsi用に使用しているドメイン名'
    const options = {
        roomName: "JitsiMeetAPIExample",  // チャットルーム名'
        width: 700,
        height: 180,
        parentNode: document.querySelector("#meet"), // ビデオチャットを表示する要素のID'
        configOverwrite: {},
        interfaceConfigOverwrite: {}
      }
      const api = new JitsiMeetExternalAPI(domain, options);
      api.executeCommand("displayName", "My Nickname"); // ニックネーム（表示名）を指定する
      api.executeCommand("subject", "My Video Chat"); // チャットルームの件名を指定する
      api.executeCommand("toggleAudio"); // 音声のオン / オフ切り替える
  }  
</script>

{% endblock %}
