{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Welcome to Sample application</h1>
    </div>
    <div class="col-md-2">
        <a href="javascript:OnLinkClick1();" class="btn btn-primary">ポイント送付</a>
    </div>
    <div class="col-md-2">
        <a href="javascript:OnLinkClick2();" class="btn btn-primary">送付一覧</a>
    </div>
    <div class="col-md-2">
        <a href="javascript:OnLinkClick3();" class="btn btn-primary">メインテスト</a>
    </div>
</div>

<hr>
<p>This is a point send application powered by <b>FastAPI</b>!</p>
<script>
function OnLinkClick1(){
    var next_url1 = 'http://' + location.host + '/pages/sendpointtran';
    access_token = sessionStorage.getItem("TOKEN");    //セッションに保存
    //post("http://localhost:8000/pages/sendpointtran" + "?access_token=" + access_token ,"");
    post(next_url1 + "?access_token=" + access_token ,"");
}
function OnLinkClick2(){
    var next_url2 = 'http://' + location.host + '/pages/pointtranlist';
    access_token = sessionStorage.getItem("TOKEN");    //セッションに保存
    //post("http://localhost:8000/pages/pointtranlist" + "?access_token=" + access_token,"");
    post(next_url2 + "?access_token=" + access_token,"");
}
function OnLinkClick3(){
    var next_url2 = 'http://' + location.host + '/pages/nbcmain';
    access_token = sessionStorage.getItem("TOKEN");    //セッションに保存
    post(next_url2 + "?access_token=" + access_token,"");
}
</script>

{% endblock %}
